<div class="container-fluid">
    <div class="container border-top border-secondary py-5">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="fw-bold">Portfolio</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet iste possimus exercitationem
                    consequuntur quia. Ullam unde nemo eligendi corporis! Nihil, illum accusantium! Dicta natus expedita
                    vitae ex omnis delectus tempore?</p>
            </div>
                <div class="col-12 col-md-6 col-lg-4 my-4">
                    <div class="card border-0" style="width: 22rem;">
                        <img src="https://www.xtrafondos.com/wallpapers/paisaje-nevado-en-el-bosque-arte-digital-9759.jpg" 
                             class="img__portfolio card-img-top img-fluid"
                             alt="Paisaje Nevado">
                        <div class="card-body px-0">
                            <h5 class="card-title text-primary">Paisaje Nevado</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quaerat assumenda nulla obcaecati atque ab odit, omnis, et illo veritatis tempore. Repellendus modi ducimus quis repudiandae doloremque corporis laborum quas?</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 my-4">
                    <div class="card border-0" style="width: 22rem;">
                        <img src="https://pixnio.com/free-images/2017/09/12/2017-09-12-06-43-29.jpg" 
                             class="img__portfolio card-img-top img-fluid"
                             alt="Paisaje Montañoso">
                        <div class="card-body px-0">
                            <h5 class="card-title text-primary">Paisaje Montañoso</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quaerat assumenda nulla obcaecati atque ab odit, omnis, et illo veritatis tempore. Repellendus modi ducimus quis repudiandae doloremque corporis laborum quas?</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 col-lg-4 my-4">
                    <div class="card border-0" style="width: 22rem; height: auto;">
                        <img src="https://cdn0.ecologiaverde.com/es/posts/8/5/9/clima_desertico_que_es_caracteristicas_temperatura_flora_y_fauna_4958_orig.jpg" 
                             class="img__portfolio card-img-top img-fluid" 
                             alt="Paisaje Desertico">
                        <div class="card-body px-0">
                            <h5 class="card-title text-primary">Paisaje Desertico</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, quaerat assumenda nulla obcaecati atque ab odit, omnis, et illo veritatis tempore. Repellendus modi ducimus quis repudiandae doloremque corporis laborum quas?</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>