<div class="Container fluid">
    <div class="container border-top border-secondary py-5">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12 text-center">
                <img src="https://picsum.photos/200/200" class="rounded-circle">
            </div>
            <div class="col-lg-8 col-md-8 col-12">
                <div class="d-flex flex-wrap">
                    <h3 class="fw-bold me-2">The Second Heading</h3>
                    <h3 class="fw-bold text-secondary">is Pretty Cool Too.</h3>
                </div>
                    <p>Lorem fistrum tiene musho peligro me cago en tus muelas
                        hasta luego Lucas. Te va a hasé pupitaa se calle ustée 
                        mamaar al ataquerl a gramenawer. Te voy a borrar el cerito mamaar 
                        a gramenawer se calle ustée papaar papaar de la pradera pecador</p>
            </div>   
        </div>
    </div>
    
</div>

