<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="background-image" style="background-image: url(https://t3.ftcdn.net/jpg/09/70/16/46/360_F_970164630_tH4yGqFZGcWmRUuQR8jeNXaCaH9PwsBx.jpg);">   
    <div class="container text-center">
        <h1 class="title-main" style="color: black;">One Page Wonder</h1>
        <p><h2 class="title-secondary" style="color: black;">Will Knock Your Socks Off</h2></p>
    </div>
</div>

<!-- Enlace a Bootstrap JS (CDN) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>